
.post-preview > a {
    display: block;
    color: #404040;
}
.post-preview > a:hover, .post-preview > a:focus {  /*鼠标移动上去和按下的属性*/
    text-decoration: none;
    color: #0085A1;
}
.post-preview > a > .post-title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}
.post-preview > .post-meta {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

footer.container-fluid {
    margin: 0px 0px;
    padding: 0px;
}
footer > div.panel {
    margin: 0px;
    padding-top: 30px;
}
.intro-header {
    /* background-color: #808080; */
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 15px;
}
.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
    padding: 100px 0;
    color: white;
}
.site-heading > h1{
    font-size: 60px;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}
ul.list-unstyled li {
    line-height: 1.8em;
    font-size: 1.3em;
}

/*最新文章栏目a标签*/

.comment  {
    border-bottom: 1px dotted #a5a5a5;
    list-style: none;
    margin-bottom: 20px;
    padding-bottom:20px;
}


/**
个人简历
 */

.resume h1 {
    /*color: #5bc0de;*/
    color: #337ab7;
    font-weight: bold;
}
.resume  h2 {
    color: #337ab7;
}
.resume  h3 {
    color: #337ab7;
}
.resume  h4 {
    color: #337ab7;
}
.resume  a {
    color: #51547d;
}
.resume > .row > .title {
    background-color: #f5f8fa;
}
.resume .body {
    background-color: #fff;
    padding-bottom: 30px;
}

.resume > .row > .title .logo img {
    width: 70%;
    border-radius:50%;
    margin: 0 auto;
}
.resume > .row > .title .logo {
    /*margin-top: 25%;*/
}

.resume > .row > .title .info-title {
    margin-top: 4rem;
}
.resume > .row > .title .info-body {
    margin-top: 4rem;
}
.resume > .row > .title .info-body .row  {
    font-size: 1.2em;
    color: #7d7d7d;
    margin-left: 15px;
    line-height: 2.2em;
}
.resume > .row > .title .info-body .row i {
    margin-right: 1em;
    color: #337ab7;
}

.resume  .project-content .title {
    font-size: 1.5em;
}
.resume .project-content .content {
    margin: 10px 0;
    color: #7d7d7d;
}

.resume .skill .content {
    margin: 10px 0;
    color: #7d7d7d;
    line-height: 1.8em;
}
.resume .profile p{
    font-size: 2em;
}

.erweima > img{
    width: 200px;
}









